 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/IMG_20210914_130404.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-1 .u-image-1 {
  width: 377px;
  height: 377px;
  background-image: url("images/portrait_alba.jpg");
  background-position: 50% 50%;
  margin: 116px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.3125rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 42px 293px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.1875rem;
  font-weight: 700;
  width: 621px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.4375rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-text-1 {
    width: 605px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 8px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 49px 0 0 20px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 49px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 263px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px auto 0 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 10px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 10px;
  padding: 2px 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 263px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  object-position: 99.34% 50%;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px auto 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 10px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 10px;
  padding: 2px 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  height: 263px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px auto 0 10px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 10px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 10px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 407px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 407px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 262px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: start;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}